/* Tab container styling */
.tab-container {
    width: 100%;
    max-width: 100%;
    margin: 50px auto;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

/* Tab menu styling */
.tab-menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: #492b28;
    border-bottom: 2px solid #600c05;
    border-radius: 8px 8px 0 0;
}

.tab-menu li {
    padding: 15px 20px;
    cursor: pointer;
    flex-grow: 1;
    text-align: center;
    color: #fff;
    font-weight: 600;
    transition: background-color 0.3s, color 0.3s;
}

.tab-menu li:hover {
    background-color: #6b4a47;
}

.tab-menu .active {
    background-color: #f6d7d7;
    color: #600c05;
    border-bottom: 2px solid #fff;
    border-radius: 8px 8px 0 0;
}
.tab-content-menu{
    display: none;
    padding: 20px;
    border: 1px solid #ddd;
}
/* Tab content styling */
.tab-container .tab-content-menu {
    padding: 20px;
    display: block;
}

.tab {
    display: none;
    animation: fadeIn 0.5s ease-in-out;
}

.tab.active {
    display: block;
}

/* Styling for tab links */
.tab-links {
    display: flex;
    cursor: pointer;
    /*  padding: 5px;*/
    color: white;
    height: 45px;
    text-align: center;
    font-weight: bolder;
    font-size: larger;
    background-color: #420202;
    border-bottom: 2px solid #ddd;
}

.tab-links div {
    flex: 1;
    text-align: center;
    padding: 2px;
    border: 1px solid #ddd;
    background-color: #480505;
    margin-right: -1px;
    transition: background-color 0.3s;
}

.tab-links div:hover {
    background-color: #ddd;
}

/* Styling for active tab */
.tab-links .active-tab {
    background-color: #d59c9c;
    border-bottom: 2px solid #410404;
}

/* Styling for tab content */
.tab-content {
    display: none;
    padding: 20px;
    border: 1px solid #ddd;
}

.show {
    display: block;
}
/* Fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}